html,body{
    margin : 0;
    padding : 0;
    width : 100%;
    height : 100vh;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    cursor: grab;
}

.container{

    display: flex ;
    transform: translate(-50%,-50%);
}

.container-left{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: minmax(350px,auto);
    grid-gap: 10px;
    width: 110%;
    height: 200vh; 
    margin: 0 auto;
}
.container-mid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(350px,auto);
    grid-gap: 10px;
    width: 100%;
    height: 200vh; 
    margin: 0 auto;
}

.container-right{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: minmax(350px,auto);
    grid-gap: 10px;
    width: 100%;
    height: 200vh; 
    margin: 0 auto;
}

.block{
    border-radius: 10px;
    border: 2px solid #D8D8D8;
    margin: 1em;
    width: 200px;
    height: auto;

    transition: 0.2s ease-in-out;
}

.blockmid{
    border-radius: 10px;
    border: 2px solid #D8D8D8;
    margin: 1em;
    width: 200px;
    height: auto;
    transition: 0.2s ease-in-out;
}

.block-10{
    margin: 18px;
    border-radius: 10px;
    width: 445px;
    background: white;
    grid-column: 1/3;
    grid-row: 4/5;
    display: flex;
    font-size: 3em;
    flex-direction: column;
    justify-content: center;
    color: black;
    align-items: center;
    text-align: center;
}

.block-10 p{
    margin : 0;
    font-weight: 600;
}

.block-10 p:nth-child(3){
    margin : 0;
    color : #1A73E9
}

.gPresent{
    display: flex;
    width: 100%;
    justify-content: center;
    color: grey;
    font-size: 0.3em;
    font-weight: 300;
    align-items: center;
}

.gPresent p{
    font-weight: 300;
}

.gPresent img{
    width: 12%;
    object-fit: contain;
}

.blockmid:hover{
    transform: translateY(-5%);
    box-shadow: 0px 10px 30px #d7d7d7;
}

.block:nth-child(even){
    transform: translate(0%,-20%);
}

.block:nth-child(even):hover{
    transform: translate(0%,-25%);
    box-shadow: 0px 10px 30px #d7d7d7;
}
.block:hover{
    transform: translateY(-5%);
    box-shadow: 0px 10px 30px #d7d7d7;
}

.column:nth-child(even){
    transform: translate(-1%,-1%);
}

.search {
    position : fixed;
    top : 5%;
    left : 50%;
    width: 25%;
    border-radius: 2em;
    transform: translate(-50%,0%);
    background-color: white;
    border: 2px solid #D8D8D8;
    display: flex;
    justify-content: center;
    z-index: 2;
    box-shadow: 0px 10px 30px #d7d7d7;
}

.search p{
    margin-right: 0.5em;
}

.search p:nth-child(3){
    color: #1A73E9;
}
.search img{
    object-fit: contain;
    margin-right: 0.5em;
    width: 6%;
}

.search img:nth-child(4){
    object-fit: contain;
    width: 3%;
}
